body {
  background-color: #fff;
  font-family: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.aboutme{
  grid-area:aboutme;
}
.AboutMe{
  grid-area:AboutMe;
}
.Portfolio{
  grid-area:Portfolio;
}
.Logo{
  padding-top: 5px;
  grid-area:Logo;
}
.Photography{
  grid-area:Photography;
}
/*nav.nav{
  background: rgba(255,255,255,0.97);
}*/
.Logotext{
  display: none;
}
img{
  width: 20px;
  height: 10.5px;
}
.nav{
  background: rgba(255,255,255,0.95);
  padding-left: 5px;
  padding-right: 5px;
/*  margin-right:15%;
  margin-left: 15%;*/
  margin: 0px 10% 0px;
  display: grid;
  grid-auto-rows: 30px;
/*  grid-auto-columns: minmax(84px,auto);*/
  grid-template-areas:
      "Logo Logo Logo"
      "Portfolio AboutMe Photography";
}
.nav {
 position: fixed;
 top:0;
 right: 0;
 left: 0;
 z-index: 1000;
}
.navLinks{
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.AboutMe{
  text-align: center;
}
.Portfolio{
  text-align: left;
}
.Photography{
  text-align: right;
}
.Logo{
  text-align: center;
}
/*.Panellabel {
  letter-spacing: 0.2px;
  margin-top: 160px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
.igniteux .Panellabel{
  margin-top: 30px;
  padding: 20px;
  color: white;
}*/
/*.Paneldesc{
  padding-top: 2px;
  letter-spacing: 0.2px;
  color: #F5F5F5;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}*/
.wrapper {
  display: grid;
  padding-top: 80px;
  margin: 0px 10% 0px;
  grid-gap: 10px;
  grid-auto-columns: minmax(250px, auto);
  grid-auto-rows: 250px;
  grid-template-areas:
      "duo"
      "rhythm" 
      "expedia"
      "igniteux"
      "emosense"
      "umhs"
      "aboutme"
      "aboutme"
      "aboutme";
}
.social{
  display: grid;
  text-align: center;
  margin: 25px 15% 10px;
  grid-gap: 10px;
  grid-auto-columns: 3fr 3fr 3fr;
  grid-template-areas:
  "linkedin dribbble twitter"    
}
.inabout img{
/*  padding-left: 8px;*/
  padding-bottom: 10px;
  max-width: 75px;
  max-height: 75px;
}

h1 {
  font-style: medium;
  font-size: 24px;
  line-height: 40px;
}
h2{
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}
h3{
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
    padding-bottom: 10px;
}
h4{
  color: white;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFFAFA;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
p, li {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
}

/*Portfolio modal contents*/

.box {
  background-color: #f5f5f5;
  border-radius: 2px;
}
.box a{
  text-decoration: none;
}
.box a:hover {
  text-decoration: none;
}
.box:hover{
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.01);
}
.box1 {
/*  background-color: #f5f5f5;*/
/*  margin-top: 40px;*/
  margin-bottom: 10px;
  height: 300px;
  border-radius: 2px;
  padding-left: : 20px;
  padding-right: 20px;
  padding-top: 60px;
  font-size: 150%;
}
.box2 {
  border-radius: 2px;
}
.duo{
  grid-area:duo;
/*  background-color: #4CAF50;*/
  background-image: url('duosmall2.png');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.rhythm{
/*  background-color: #009688;*/
  background-image: url('test2.png');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
.expedia{
/*  background-color: #00BCD4;*/
/*  background-size: 300px 200px;*/
  background-image: url('expediatest.png');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;

}
.emosense{
/*  background-color: #3F51B5;*/
/*  background-color: #00BCD4;*/
  background-image: url('linq.png');
  background-position: center; 
  background-size: cover;
}
.umhs{
/*  background-color: #2196F3;*/
/*  background-color: #009688;*/
  background-image: url('oleole.png');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
.igniteux{
/*  background-color: #2196F3;*/
/*  background-color: #009688;*/
  background-image: url('igniteux.png');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

.overlaid {
/*  transition: .1s ease;*/
  margin-left:20px;
  margin-top: 100px; 
/*  margin-left: 20px;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)*/
}
.overlaid a{
  color: black;
  font-size: 12px;
  border-bottom-style: dotted;
  border-width: 1px;
}
/*.box:hover .overlaid {
  opacity: 1;
  background: rgba(255,255,255,0.95);
}*/
.testtext{
  font-weight: 600;
  margin-left: 20px;
  margin-top: 60px;
  font-size: 18px;
}
.testtext2{
  margin-left: 20px;
  font-size: 12px;
  font-weight: 200;
}
a.active{
 font-weight: 600;
 text-decoration: underline;
}
.rhythm > .overlaid{
  margin-top: 80px; 
}
.copyfooter p{
  font-size: 8px;
  text-align: center;
  padding:none;
}

@media only screen and (min-width: 600px){
.Logotext{
  display: inline;
  font-size: 12px;
  font-weight: 700;
  letter-spacing:-0.5px;
  margin-left: 5px;
}
/*img{
  width: 40px;
  height: 21px;
}*/
.nav{
  padding-top: 20px;
  margin: 0px 6%;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns-columns: minmax(200px,auto) minmax(103px,auto) minmax(103px,auto) minmax(103px,auto);
  grid-template-areas:
      "Logo Portfolio AboutMe Photography";
}
.navLinks{
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.AboutMe{
  text-align: right;
}
.Portfolio{
  text-align: right;
}
.Photography{
  text-align: right;
}
.Logo{
  text-align: left;
}
/*.duo .Panellabel {
  margin-top: 180px;
  font-size: 36px;
  line-height: 60px;
}
.duo .Paneldesc{
  padding-top: 5px;
  font-size: 18px;
  line-height: 28px;
}*/
.duo{
  background-size: 750px 500px;
}
/*.Paneldesc{
  font-size: 14px;
  line-height: 22px;
}*/
.wrapper {
    margin-left: 6%;
    margin-right: 6%;
    grid-template-areas:
      "duo duo"
      "duo duo"
      "rhythm expedia"
      "igniteux  emosense"
      "umhs ."
      "aboutme aboutme"
      "aboutme aboutme"
  /*    "aboutme aboutme"*/
      "aboutme aboutme";
}
.social{
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
}
.box1{
  padding-top: 40px;
  height: 600px;
}
.inabouttext{
/*  padding-left: 30px;
  padding-right: 30px;*/
  padding-top: 20px;
  padding-right: 100px;
}
.inabout img{
  max-width: 120px;
  max-height: 120px;
}
.duo h4{
  font-size: 16px;
  padding-left: 80px;
  padding-right: 80px;
}
h1{
  font-size: 36px;
  line-height: 54px
}
h2{
  font-size: 14px;
  line-height: 22px;
}
h3{
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
p, li {
  font-size: 16px;
  line-height: 26px;
}
.duo .testtext{
  font-weight: 600;
  margin-left: 20px;
  margin-top: 150px;
  font-size: 40px;
}
.duo .testtext2{
  margin-left: 20px;
  margin-top: -5px;
  font-size: 24px;
  font-weight: 200;
}
/*.duo .overlaid {
  opacity: 1;
  position: absolute;
  bottom: 5%;
  left: 4%;
}*/
.duo{
  background-image: url('duo2.png');
  background-position: center; 
  background-repeat: no-repeat;
}
.duo > .overlaid{
  margin-top: 220px; 
}
.copyfooter p{
  font-size: 10px;
}
}

@media only screen and (min-width: 991px)  {
.nav{
  padding-top: 20px;
/*  padding-left: 5px;
  padding-right: 5px;*/
  margin-left: 15%;
  margin-right: 15%;
  grid-auto-rows: 40px;
  grid-template-columns: minmax(380px,400px) minmax(130px,1fr) minmax(130px,1fr) minmax(130px,1fr);
  display: grid;
  /*grid-auto-columns: minmax(500px,3fr) minmax(135px,1fr) minmax(135px,1fr);*/
  grid-template-areas:
      "Logo Portfolio AboutMe Photography";
}
.wrapper {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 100px;
  grid-template-areas:
    "duo duo expedia"
    "duo duo rhythm"
    "emosense umhs igniteux"
    "aboutme aboutme aboutme"
    "aboutme aboutme aboutme"
    "aboutme aboutme aboutme";
}
.social{
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
}
/*.AboutMe{
  text-align: right;
}
.Portfolio{
  text-align: right;
}
.Logo{
  text-align: left;
}*/
.box1{
  padding-top: 80px;
  height: 600px;
}
.inabout img{
  max-width: 150px;
  max-height: 150px;
}
h1{
  font-size: 40px;
  line-height: 60px;
}
h3{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
p, li{
  font-size: 16px;
  line-height: 27px;
}
}

.inabout a{
  color: #808080;
  font-weight: 400;
}
.social a {
  text-decoration: none;
}
.social a:hover{
  color: #000;
  text-decoration: underline;
}

/*.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.box:hover .image{
  opacity: 0.3;
}
*/