* {
  box-sizing: border-box;
}

body {
  background-color: #eedcd0;
  height: 100vh;
}

.container {
  display: block;
  max-width: 800px;
  height: 100%;
  margin: 10 px auto;
  background-color: aquamarine;
}

.row {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  display: block;
}

.img {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0.5%;
  box-shadow: 10px 14px 20px 0px rgba(226,204,189,1);
  background-color: black;
}

.img-1{
  background: url('Zygnema2.jpg') no-repeat center center;
  background-size: contain;
}

.img-2{
  background: url('BullzeyeAnish.jpg') no-repeat center center;
  background-size: contain;
}

.img-3 {
  background: url('Yotto1.jpg') no-repeat center center;
  background-size: contain;
}

.img-4 {
  background: url('Mija.jpg') no-repeat center center;
  background-size: contain;
}

.img-5 {
  background: url('Hollen2.jpg') no-repeat center center;
  background-size: contain;
}

@media screen and (min-width: 800px) {
  .row{
    width: 100%;
    height: 100%;
  } 
  
  .img-1,
  .img-2 {
    width: 48%;
  }

  .img-3 {
    width: 100%;
  }

  .img-4,
  .img-5 {
    width: 48%;
  }

}