body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #232323;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px 15px 15px 15px;
    font-size: 28px;
    color:#fff;
}
h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px 15px 15px 15px;
    font-size: 20px;
    font-weight: 400;
    color:#fff;
}
section{
  margin-top: 50px;
}
img {
    margin-bottom: 30px;
}
.test {
/*	text-align: center;*/
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	min-height: 100%;
	padding-top: 100px;
}
top-text{
	line-height: 2.75;
	font-size: 16px;
}
p{
	line-height: 1.6;
}
p.item-intro {
    font-weight: 300;
    color: #fff;
    margin: 20px 15px 30px 15px;
    font-size: 16px;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
  font-size: 16px;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}